@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-footer text-textColor;
  }
  #root {
    @apply flex flex-col;
  }
  .wrapper {
    height: calc(100vh - theme("spacing.24"));
    @apply flex;
  }
  main::-webkit-scrollbar {
    display: none;
  }

  .playlistSection::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
